<html>
  <head>
    <title>Rod tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='vendor/axios/axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>
    <section id="streaming_viewer">
      <h1 align="center">Rod tracker</h1>
      <img id="background" class="center" src="{{ url_for('video_feed') }}">
    </section>

    <section id="actions">
      <h2>Actions</h2>
        <div>
          <!-- 'Stop in zone' checkbox with corresponding request changing value clicking -->
          <button onclick="requestStartMotor()">Start motor</button>

          <!-- 'Stop system' button with corresponding request after clicking -->
          <button onclick="requestStopsystem()">Stop system</button>
        </div>
    </div>
  </section>

  <section id="monitoring_info">
    <h2>Monitoring information</h2>
    <!-- HTML elements for 'Motor status' information -->
    <!-- ... -->
    <p><b>Status:</b> <span id="status_text"></span></p>

    <!-- HTML elements for 'Distance' information -->
    <p><b>Distance:</b> <span id="distance_text"></span></p>

    <!-- HTML elements for 'Is in zone?' information -->
    <p><b>Is in zone:</b> <span id="Inzone_text"></span></p>
  </section>
  </body>
</html>
